@model IEnumerable<FPSInventory.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Select a Report Type</h1>

<a asp-action="Stores">View Store Inventory</a>
<br />
<a asp-action="Sales">Sales by date</a>
