@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>ANNOUNCEMENTS</h1>
    <p>Admins, a memo regarding the shipment for tomorrow (@DateTime.Now.AddDays(1).ToString("MMM dd yyyy")) has been sent. Please review when possible.</p>
</div>
